@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Rock+Salt&display=swap');
:root {
    --primary-color: #16302B;
    --secondary-color: #410b13;
    --accent1-color: #E53D00;
    --accent2-color: #CBD2D0;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Roboto', sans;

    --nav-background-color: #16302B;
    --nav-link-color: #E53D00;
    --nav-hover-link-color: #410b13;
    --nav-hover-background-color: #CBD2D0;
}

/* I do not know how to limit the page (Week3,step 3.7)*/
* {
    width: 600px;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
}

/*Week4 edits/ I have no clue what I'm doing*/

header {
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
    grid-column-start: span;
	border-bottom: 1px solid #ccc;
	max-width: 2000px;
    margin: 1rem auto;
}

.logo {
    width: auto;
}
/*need to add box, don't remember how*/



/*This is where I really started to get lost*/

.hero {
    position: relative;

}

.hero article {
    position: relative;
    background-color: #16302B;
    color: #CBD2D0;
    opacity:100%;
    text-align: center;
    font-size: 20px;
	margin: 0 0 15px 15px;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 0 30px #777;
    align-self: center;
}

.hero img {
    float: right;
    top: 10px;
    right: 10px;
}

/*copied and pasted this from codepen instructions*/
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	position: relative;
    font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
}


.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

.history {
    display: grid;

}

.adventure {
    position: relative;
    display: flex;
}    

.adventure img {
    position: relative;
    width: 200px;
    height: auto;
}

footer img{
    position: right;
    display: flexbox;
    justify-content: flex-end;
    width: 50px;
    height: auto;
}