@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Rock+Salt&display=swap');
:root {
    --primary-color: #16302B;
    --secondary-color: #410b13;
    --accent1-color: #E53D00;
    --accent2-color: #CBD2D0;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Roboto', sans;

    --nav-background-color: #16302B;
    --nav-link-color: #E53D00;
    --nav-hover-link-color: #410b13;
    --nav-hover-background-color: #CBD2D0;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent2-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer {
    text-align: center;
}
